@media screen and (max-width: 479px) {
  .boxBlue {
    width: 200px;
    height: 200px;
  }

  .boxWhite {
    width: 60px;
    height: 160px;
    margin-top: 20px;
    margin-right: 70px;
    flex-flow: column;
  }

  .boxPink {
    width: 40px;
    height: 40px;
  }

  .container {
    display: block;
  }

  .boxGreen {
    width: 200px;
    height: 250px;
  }

  .boxRed {
    width: 200px;
    height: 250px;
  }

  .boxOrange {
    width: 140px;
    height: 40px;
    margin-left: 30px;
    margin-right: 30px;
  }

  #top {
    margin-top: 20px;
  }

  #bottom {
    margin-bottom: 20px;
  }

  .boxYellow {
    width: 200px;
    height: 100px;
  }
}
